/* Colors */
/* some from http://modernl.com/article/web-2.0-colour-palette */
$body-bg-color:     #CDEB8B;
$header-bg-color:   #C3D9FF;
$section-bg-color:  #fff;
$link-color:        #C3D9FF;
$link-hover-color:  #069;
$text-color:        #36393D;

.container {
  width: 710px;
}

body {
  background-color: $body-bg-color;
  color: $text-color;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: $header-bg-color;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: $section-bg-color;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: $link-color;
  text-decoration: none;
}

a:visited {
  color: $link-hover-color;

    a:hover {
      text-decoration: underline;
    }
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
