try {

/* Insert a notice between the last comment and the comment form */
$("#ingredient-notice").html('<div class="flash notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
$("#ingredient-notice").fadeIn(0);

/* Add the new ingredient to the top of the ingredients list */
$("#ingredients").prepend("<%= escape_javascript(render(@ingredient)) %>");

/* Highlight the new ingredient */
$("#ingredient_<%= escape_javascript(@ingredient.id.to_s) %>").effect("highlight", {}, 3000);

/* Reset the comment form */
$("#new_ingredient")[0].reset();

$("#ingredient-notice").fadeTo(3000, 0);

}
catch (e) {
    alert(e.toString());
}

